// bower:scss
// endbower

@import "variables";
@import "master";

// Use this style sheet to define the responsive characteristics of the app

// The container should max out at 750px and take the whole screen if the
// size is less than that
@media screen and (max-width: 750px) {
  .container {
    margin-left: 0px;
  }
  .title-block {
    margin-left: 0px;
  }
  .site-footer {
    margin-left: 0px;
  }
}

@media screen and (max-width: 552px) {
  /* Resize the title header */
  #title-right {
    padding-left: 0;
    margin-top: -30px;
    text-align: right;
  }
  
  .header {
    height: 210px;
  }
  
  .container {
    // Make sure that the container stays under the header
    min-height: calc(100% - 210px);
  }
}

// Screen size is less than 370px wide
@media screen and (min-width: 370px) {
  input[type="number"],
  input[type="text"],
  select {
    width: 145px;
  }
}

// Screen size is less than 420px wide
@media screen and (min-width: 420px) {
  input[type="number"],
  input[type="text"],
  select {
    width: 195px;
  }
}

// Screen size is less than 552px wide
// This is the first point the the header becomes one line
@media screen and (min-width: 552px) {
  label {
    width: 50%;
  }
  
  input[type="number"],
  input[type="text"],
  select {
    width: calc(100% - 20px);
  }
}

@media screen and (min-width: 650px) {
  input[type="number"],
  input[type="text"],
  select {
    width: 145px;
  }
}