// bower:scss
// endbower

@import "variables";
@import "master";

/* Custom page header */
.header {
  width: 100%;
  min-width: 100%;
  height: 210px;
  
  #title-right {
    padding-left: 0;
    margin-top: -30px;
    text-align: right;
  }
}

.container {
  // Make sure that the container stays under the header
  min-height: calc(100% - 210px);
}

label {
  float: left;
  width: 100%;
  padding: 10px;
  color: $color-blue;
  font-size: 1.5em;
}

input {
  float: right;
  width: 145px;
  margin-right: 20px;
}

select {
  float: right;
  width: 145px;
  margin-right: 20px;
}
