@import "variables";
@import "master";

/* Custom page header */
.header {
  width: 100%;
  min-width: 100%;
  
  #title-right {
    padding-left: 0;
    margin-top: -30px;
    text-align: right;
  }
}

label {
  float: left;
  width: 100%;
  padding: 10px;
  color: $color-blue;
  font-size: 1.5em;
}

input {
  float: right;
  width: 145px;
  margin-right: 20px;
}

select {
  float: right;
  width: 145px;
  margin-right: 20px;
}
