<!-- app/views/main.html -->

<!-- dropdown select for shape type -->
<label>
  Shape:
  <select ng-model="shapeSelected" ng-options="shape.name for shape in shapes" ng-change="selectShape()"></select>
</label><br/>

<!-- height of shape -->
<label>
  Height:
  <input type="number" ng-model="shapeHeight" ng-change="setHeight()" required></input>
</label>

<!-- text box for label in shape -->
<label>
  Label:
  <input type="text" ng-model="shapeLabel" ng-change="setLabel()"></input>
</label>

<!-- row to display the label on -->
<label>
  Label Row:
  <input type="number" ng-model="labelRow" ng-change="setLabelRow()"></input>
</label>

<!-- area for asii shape -->
<pre class="shape">{{ shape }}</pre>