<!-- app/views/main.html -->

<!-- form for the creation of an ascii shape -->
<form name="shapeForm">
  <!-- dropdown select for shape type -->
  <label>
    Shape:
    <select ng-model="shapeSelected" ng-options="shape.name for shape in shapes" ng-change="selectShape()"></select>
  </label>

  <!-- height of shape -->
  <label>
    Height:
    <input type="number" name="height" ng-model="shapeHeight" ng-change="setHeight(shapeHeight)" required></input>
    <span class="error" ng-show="shapeForm.height.$error.required">
      Shape height is required
    </span>
  </label>

  <!-- text box for label in shape -->
  <label>
    Label:
    <input type="text" ng-model="shapeLabel" ng-change="setLabel(shapeLabel)"></input>
    <span class="error" ng-show="shapeLabelMsg.length > 0">
      {{ shapeLabelMsg }}
    </span>
  </label>

  <!-- row to display the label on -->
  <label id="labelRow" ng-show="shapeLabel.length > 0">
    Label Row:
    <input type="number" name="labelRow" ng-model="labelRow" ng-change="setLabelRow(labelRow)" required></input>
    <span class="error" ng-show="labelRowMsg.length > 0">
      {{ labelRowMsg }}
    </span>
  </label>
</form>

<!-- area for asii shape -->
<pre class="shape">{{ shape }}</pre>