<!-- app/views/main.html -->

<!-- dropdown select for shape type -->
<label>
  Shape:
  <select ng-model="shape" ng-options="shape.name for shape in shapes" ng-change="selectShape()"></select>
</label><br/>

<!-- height of shape -->
<lablel>
  Height:
  <input type="number" ng-model="shape.height" ng-change="shape.setHeight(shape.height)" required></input>
</lablel>

<!-- text box for label in shape -->
<label>
  Label:
  <input type="text" ng-model="shape.label" ng-change="shape.setLabel(shape.label)"></input>
</label>

<!-- row to display the label on -->
<label>
  Label Row:
  <input type="number" ng-model="shape.labelRow" ng-change="shape.setLabelRow(shape.labelRow)"></input>
</label>

<!-- area for asii shape -->
<pre>{{ shape.draw() }}</pre>